/* --- refactor CSS --- */

.list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #282c34;
    min-height: 90vmin;
    padding: 10px;
    color: white;
}

.list-header {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color:  rgba(0, 217, 255, 0.25);
    font-size: 15px;
    margin-right: 2vw;
    padding: 10px;
    border: solid 1px #09d3ac;
}

.list-header {
    font-weight: bold;
}

.create-node-display {
    display: flex;
    align-items: center;
    justify-items: center;
    border: solid 1px #09d3ac;
    height: 5vh;
    padding: 10px;
    margin: 10px;
}

.create-node-subject-input,
.create-node-amount-input {
    margin: 10px;
    padding: 5px;
    height: 2vh;
    width: 10vw;
}

.list-navbar,
.list-info {
    display: flex;
    justify-content: center;
    height: 7vh;
    padding: 5px;
    margin: 5px;
}

.list-button {
    margin: 10px;
    width: 10vw;
}

.list-display {
    display: flex;
    justify-self: baseline;
    align-self: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: 45vh;
    overflow-y: auto;
    border: solid 1px #09d3ac;
    width: 54vw;
}

.list-card {
    margin: 10px;
    padding: 5px; 
    width: 54vw;  
}

.list-card-text {
    margin: 0px 15px 0px 15px;
}

.active-list-card {
    color: #09d3ac;
    font-weight: bold;
    font-size: 15px;
    background-color:  rgba(0, 217, 255, 0.25);
}

.list-total-amounts {
    width: 15vw;
}

.list-current-show {
    width: 40vw;
}

.list-total-amounts,
.list-current-show {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 15px;
    margin-right: 2vw;
    padding: 10px;
}

.list-button {
    background-color: rgb(9, 211, 172);
    border: none;
    color: #282c34;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
  }

.list-button:hover {
    background-color:rgb(9, 211, 172, 0.8);
    cursor: pointer;
}

.list-button:active {
    background-color:rgb(9, 211, 172, 0.8);
    transform: translateY(4px);
}

.delete-button {
    background-color:  rgba(0, 217, 255, 0.25);
    color: #09d3ac;
    border: none; 
    font-weight: bold;
    font-size: 15px;
}

.delete-button:hover {
    background-color:  rgba(0, 217, 255, 0.20);
    cursor: pointer;
}

.delete-button:active {
    background-color:  rgba(0, 217, 255, 0.20);
    transform: translateY(4px);
}