.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 20vh;
  min-height: 10vmin;
}

.icon {
  transform:rotate(360deg);
  animation-name: spin-clockwise;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  height: 10vh;
  width: 10vw;
  margin: 25px;
}

.icon:hover {
  filter: grayscale(25%) sepia(25%);
  cursor: pointer;
  outline: 0;
}

.icon:focus {
  filter: grayscale(100%) sepia(100%);
  outline: 0;
  animation-name: spin-counter-clockwise;
  animation-duration: 10000ms;
}

@keyframes spin-clockwise {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@keyframes spin-counter-clockwise {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(-360deg);
  }
}

.App-display{
  height: 80vh;
  min-height: 90vmin;
}

.homepage {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vmin;
}

.App-logo {
  height: 40vmin;
  margin-top: 20px;
}

.App-link {
  color: #09d3ac;
}

/* --- Game (tic-tac-toe) CSS --- */
 /* reference React Tutorial for original CSS as this has been altered */

.game {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
  min-height: 100vmin;
}

.board-info-wrapper {
  margin-top: 20px;
  flex-direction: row;
  align-items: flex-start;
}

.game-board {
  float: left;
}

.game-info {
  float: left;
  margin-left: 50px;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: calc(25px + 2vmin);
  font-weight: bold;
  line-height: 10vh;
  height: 10vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vh;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.winning-square {
  background: rgb(183, 248, 62);
}

.start-button,
.first-player-dropdown,
.history-button {
  margin: 5px;
}

.start-button:hover,
.first-player-dropdown:hover,
.history-button:hover {
  cursor: pointer;
}

