<html>

<head>
	<script type="text/javascript">
		function httpGetAsync(theUrl, callback) {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function () {
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
					callback(xmlHttp.responseText);
			}
			xmlHttp.open("GET", theUrl, true); // true for asynchronous
			xmlHttp.send(null);
		}
	</script>
</head>

<body>
	<div style="font-size: 16; font-family: Arial, Helvetica, sans-serif">	
        <span>Welcome to my first API</span>
        <span style="font-size: 14">Directory</span>
        <ul>
            <li>url extension "/raw" - to display raw data</li>
            <li>url extension "/loop" - to display data in table form</li>
        </ul>
	</div>
</body>

</html>