.page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: rgb(240, 240, 240);
    grid-gap: 5px;
}

.basic-dom-box {
    grid-column-start: 3;
    padding: 10px;
    border: solid 2px black;
    background-color: white;
}

.header {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    margin: 50px 0px 0px 25px;
    font-size: 35px;
}

.left-side-scroll-box-container {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: 5;
    height: 750px;
    width:auto;
    margin: 25px 0px 50px 25px;
    overflow-y: auto;
    background: white;
    text-align: center;
}

.container-add-button {
    margin: 25px 0px 0px 0px;
    width: 150px;
    height: 25px;
}

.card {
    height: 125px;
    width: auto;
    margin: 25px 35px 25px 25px;
    padding: 35px 35px 35px 35px;
    background-color: rgb(240, 240, 240);
    font-size: 20px;
}

.divider {
    visibility: hidden;
    margin: 10px 0px 10px 0px;
}

.card-button {
    margin: 0px 5px 0px 5px;
    width: 150px;
    height: 25px;
}

.right-side-box-text {
    font-size: 35px;
    font-weight: bold;
}

.right-side-box {
    height: 600px;
    width: auto;
    margin: 50px 25px 0px 0px;
    padding: 25px;
    text-align: center;
    background-color: white;
}
.box-one {
    grid-column-start: 4;
    grid-column-end: span 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box-two {
    grid-column-start: 4;
    grid-column-end: span 5;
    grid-row-start: 4;
    grid-row-end: 5;
}